<header class="header container">
  <div class="row w-100">
    <div class="logo-wrapper col-4">
      <a class="logo" href="javascript:void(0)">
        <div class="logo-title">
          <span class="logo_title-red">Code </span>
          <span class="logo_title-black">IT</span>
        </div>
        <span class="logo_subtitle">STORE</span>
      </a>
    </div>
    <ul class="list col-6">
      <li class="list-item active">HOME</li>
      <li class="list-item">ALL BRANDS</li>
      <li class="list-item">LATEST</li>
      <li class="list-item">FEATURED</li>
      <li class="list-item">ABOUT</li>
      <li class="list-item">BLOG</li>
      <li class="list-item">CONTACT</li>
      <li class="list-item">
        <fa-icon [icon]="faSearch"></fa-icon>
      </li>
    </ul>
    <div class="basket col-2">
      <button class="basket-button">
        <fa-icon class="basket-bag" [icon]="faShoppingBag"></fa-icon>
        <span class="basket-text">$ 460.00</span>
        <div class="badge-wrapper">
          <span class="basket-badge">2</span>
        </div>
      </button>
    </div>
  </div>
</header>
